@font-face {
  font-family: "ChosunGu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "ChosunGu", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.srOnly {
  display: none;
}

.partHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100px;
}

.title {
  font-size: 20px;
}

.navigator {
  display: flex;
  align-items: center;
  height: 25px;
}

.navigatorMenu {
  display: flex;
  width: 120px;
  justify-content: space-between;
  padding: 0px;
}

.navigatorMenu li {
  list-style-type: none;
}

.searchForm {
  margin-left: 40px;
}

.searchInput {
  display: inline-block;
  height: 23px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
  text-indent: 10px;
  font-family: inherit;
  color: lightgrey;
}

.searchInput:focus {
  outline: none;
}

.searchSubmitButton {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  color: lightgrey;
}

.partContents {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 1700px;
}

.itemSlide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 400px;
  /* border: 1px solid #0066ff; */
}

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center 30%;
  background-size: 30%;
  background-repeat: no-repeat;
}

.item {
  width: 24.5%;
  height: 100%;
}

.itemMiddleLine {
  display: flex;
  margin: 0px;
  width: 80%;
  height: 2px;
  border: none;
  background-color: white;
  text-align: center;
}

.itemName {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
}

.itemName h3,
.itemName strong {
  color: white;
}

.loginItem {
  background-image: url(sign-in-alt-solid.png);
  background-color: rgb(233, 190, 196);
}

.mailBoxItem {
  background-image: url(mail-bulk-solid.png);
  background-color: rgb(34, 94, 163);
}

.menuItem {
  background-image: url(bars-solid.png);
  background-color: rgb(148, 191, 207);
}

.instagramProfileItem {
  background-image: url(user-circle-regular.png);
  background-color: rgb(194, 194, 216);
}

.information {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 80px;
  width: 80%;
  height: 1200px;
  border-top: 1px solid lightgray;
}

.informationDetail {
  display: flex;
  width: 100%;
  height: 33%;
}

.infoImage {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9;
  width: 20%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
}

.infoButtonhidden-over768px {
  display: none;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 80%;
  border: none;
  background-color: transparent;
}

.infoBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  word-break: keep-all;
  text-align: left;
  line-height: 1.5em;
}

.infoBody p {
  font-size: 13px;
}

.htmlImage {
  background-image: url(html-logo.png);
}

.cssImage {
  display: flex;
  order: 2;
  background-image: url(css-logo.png);
}

.cssInfoBody {
  display: flex;
  order: 1;
}

.JSImage {
  background-image: url(js-logo.png);
}

@media screen and (max-width: 768px) {
  .itemSlide {
    height: 250px;
  }

  .itemName {
    font-size: 10px;
  }

  .information {
    height: 600px;
    position: relative;
  }

  .informationDetail {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: inherit;
  }

  .infoImage {
    height: 23%;
    background-size: 45%;
  }

  .infoButtonhidden-over768px {
    display: inline-block;
  }

  .JSInfoBody::before {
    position: relative;
    float: left;
    top: -15%;
    left: 4%;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid lightsteelblue;
    content: "";
    z-index: 999;
  }

  .JSInfoTitle {
    display: block;
  }

  .JSInfoBody {
    display: block;
  }

  .infoBody {
    padding: 20px 30px;
    background-color: lightsteelblue;
  }

  .infoBody p {
    font-size: 13px;
  }

  /* .infoBodyhidden-under768px {
    display: none;
  } */

  .htmlArticle {
    align-items: flex-start;
  }

  .htmlInfoTitle {
    text-align: start;
  }

  .cssArticle {
    align-items: center;
  }

  .cssImage {
    order: 1;
  }

  .cssInfoBody {
    /* width: 100%; */
    order: 2;
  }

  .cssInfoTitle {
    text-align: center;
  }

  .JSArticle {
    align-items: flex-end;
  }

  .JSInfoTitle {
    text-align: end;
  }

  .JSInfoBody {
    text-align: right;
  }
}
