@font-face {
  font-family: "ChosunGu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "ChosunGu", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.srOnly {
  display: none;
}

.partHeader {
  /* display: flex;
  justify-content: center; */
  width: 100%;
}

.headerWrapper {
  display: flex;
  /* justify-items: space-between; */
  align-items: center;
  width: 100%;
  height: 100px;
}

.simpleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  width: 100%;
  height: auto;
  padding: 0 10%;
}

.menuButton-Under680px {
  display: none;
}

.title {
  font-size: 20px;
}

.navigator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: -99;
  width: 100%;
  height: 30px;
  padding: 0 10%;
}

.navigatorMenu {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 0px;
}

.navigatorMenu li {
  list-style-type: none;
}

.searchForm {
  display: flex;
  margin-left: 40px;
}

.searchInput {
  display: inline-block;
  height: 23px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
  text-indent: 10px;
  font-family: inherit;
  color: lightgrey;
}

.searchInput:focus {
  outline: none;
}

.searchSubmitButton {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  color: lightgrey;
}

.partContents {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  /* height: 1700px; */
}

.itemSlide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 300px;
  margin-bottom: 7%;
  /* border: 1px solid #0066ff; */
}

.itemBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: 30%;
}

.item {
  width: 24.5%;
  height: 100%;
}

.itemMiddleLine {
  display: flex;
  width: 80%;
  height: 2px;
  margin: 0px;
  background-color: white;
  border: none;
  text-align: center;
}

.itemName {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 90%;
  height: 30%;
  padding: 25px;
}

.itemName h3,
.itemName strong {
  color: white;
}

.loginItem {
  background-image: url(sign-in-alt-solid.png);
  background-color: rgb(233, 190, 196);
}

.mailBoxItem {
  background-image: url(mail-bulk-solid.png);
  background-color: rgb(34, 94, 163);
}

.menuItem {
  background-image: url(bars-solid.png);
  background-color: rgb(148, 191, 207);
}

.instagramProfileItem {
  background-image: url(user-circle-regular.png);
  background-color: rgb(194, 194, 216);
}

/* .sectioningLine {
  width: 80%;
  margin: 0px;
  border: 1px solid rgb(241, 241, 241);
} */

.information {
  /* display: flex; */
  display: block;
  flex-direction: column;
  justify-items: center;
  width: 80%;
  border-top: 1px solid rgb(241, 241, 241);
  border-bottom: 1px solid rgb(241, 241, 241);
  /* height: 1200px; */
}

.informationDetail {
  display: flex;
  width: 100%;
  margin-bottom: 15%;
  /* height: 33%; */
}

.informationDetail:first-child {
  margin-top: 15%;
}

.infoImage {
  display: flex;
  align-items: center;
  width: 25%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
}

.infoButton {
  display: none;
}

.infoBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  height: auto;
  word-break: keep-all;
  text-align: left;
  line-height: 1.5em;
}

.infoTitle {
  line-height: 2.5em;
}

.infoBody p {
  font-size: 13px;
}

.htmlImage {
  background-image: url(html-logo.png);
}

.cssImage {
  display: flex;
  order: 2;
  background-image: url(css-logo.png);
}

.cssInfoBody {
  display: flex;
  order: 1;
}

.JSImage {
  background-image: url(js-logo.png);
}

footer {
  width: 100%;
  margin: 50px 0px;
  line-height: 1.5em;
  text-align: center;
}

.footerComent {
  font-size: 11px;
  font-weight: 400;
  color: rgb(160, 160, 160);
}

@media screen and (max-width: 1024px) {
  .itemName {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemName strong {
    display: none;
  }

  .information {
    display: block;
  }

  .informationDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoImage {
    height: 120px;
  }

  .infoBody {
    text-align: center;
  }

  .cssImage {
    order: 1;
  }

  .cssInfoBody {
    order: 2;
  }
}

@media screen and (max-width: 680px) {
  .partHeader {
    align-items: center;
    position: relative;
    padding: 0px;
  }

  .headerWrapper {
    height: 60px;
    width: 100%;
  }

  .title {
    text-indent: 10px;
    font-size: 13px;
  }

  .navigator {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -410px;
    left: 0%;
    z-index: 0;
    width: 100%;
    height: 400px;
    background-color: white;
    box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
  }

  .navigator li form {
    transform: translateY(102.5%);
    transform-origin: top;
    transition: all 0.3s;
  }

  .navigatorMenu {
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    top: 90px;
    width: auto;
    height: 80px;
  }

  .searchForm {
    position: relative;
    top: 100px;
    margin: 0px;
  }

  .searchInput::placeholder {
    text-align: center;
  }

  .menuButton-Under680px {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url("ellipsis-v-solid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    border: none;
    cursor: pointer;
  }

  .itemSlide {
    height: 230px;
  }

  .itemName {
    justify-content: center;
    align-items: center;
  }

  .itemName h3 {
    font-size: 15px;
    text-align: center;
  }

  .itemName strong {
    display: none;
  }

  .information {
    display: block;
  }

  .informationDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoImage {
    height: 120px;
    background-size: 40%;
  }

  .infoBody {
    text-align: center;
  }

  .cssImage {
    order: 1;
  }

  .cssInfoBody {
    order: 2;
  }
}

@media screen and (max-width: 540px) {
  .itemName h3 {
    font-size: 13px;
  }

  .infoTitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .navigatorMenu {
    font-size: 13px;
  }

  .searchInput {
    width: 100px;
  }

  .searchInput::placeholder {
    font-size: 13px;
  }

  .itemSlide {
    height: 150px;
  }

  .itemName h3 {
    font-size: 11px;
  }

  .infoTitle {
    font-size: 13px;
  }

  .infoBody {
    width: 90%;
    line-height: 4em;
    font-size: 5px;
  }

  .footerComent {
    font-size: 5px;
  }
}
